<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      body{max-width: 900px; margin: auto}
      h1{font-size: 2em}h2{font-size: 1.3em; padding-top: 1em}
      table{width: 100%}
      tr:nth-child(even){background-color: #f2f2f2;}
      th,td{padding-top:12px;padding-bottom:12px;}
    </style>
    <title><%= current_page.data.title || "PeerTube Isolation" %></title>

  </head>
  <body>
    <%= yield %>
  </body>
</html>
