---
title: PeerTube Isolation list
---

<h1>PeerTube Isolation list</h1>


<table>
  <tr>
    <th>Instance</th>
    <th>Comment</th>
  </tr>
	<% data.instances.each do |instance| %><tr>
    <td><%= instance[0] %></td>
    <% if instance[1].mastodon %>
      <td><a href="<%=instance[1].mastodon %>"><%= instance[1].comment %></a></td>
    <% else %>
      <td><%= instance[1].comment %></td>
    <% end %>
  </tr><% end %>
</table>

<p>Last update: <time datetime="<%= data.instances.to_a.last[1].added %>"><%= data.instances.to_a.last[1].added %></time></p>

<hr>

<nav>
	<ul>
		<li><a href="/">Homepage</a></li>
		<li><a href="/list/peertube_isolation.json">This list in JSON</a></li>
	</ul>
</nav>
